//sass --watch assets/scss:assets/css

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;

    /*===== Colors =====*/
    --first-color: #53afd3;
    --first-color-dark: #296e8a;
    --first-color-darken: #244C5C;
    --white-color: #f0f0f0;
    --grey-color: #919090;
    --hover-color:#ffffff;

    /*===== Font and typography =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
  
    /*===== z index =====*/
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
    }
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

h1,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--hover-color);
}


img{
    max-width: 100%;
    height: auto;
}

/*===== LAYOUT =====*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    // @media screen and (max-width: 350px){
    //     width: 100vw ;  
    // }
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}
.l-main{
    
    
        width: 100%;
}

/*===== NAV =====*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu{
        @media screen and (max-width: 768px){
            position: fixed;
            top: 0;
            right: -100%;
            width: 70%;
            height: 100%;
            padding: 3.5rem 1.5rem 0;
            background: rgba(255, 255, 255, 0.445);
            backdrop-filter: blur(10px);
            transition: .5s;
        }
    }
    &__close{
        position: absolute;
        top: .75rem;
        right: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    &__item{
        margin-bottom: 2rem;
    }

    &__close, &__link, &__toggle{
        color: var(--first-color-dark)
    }
    &__link{
        &:hover{
            //nico
            color: rgb(77, 77, 77);
            //color: var(--hover-color);
            //color: rgb(58, 58, 58); text-shadow: rgb(61, 61, 61) 0.1em 0.2em 0.2em;
            //color: rgb(126, 126, 126);
            //text-shadow: 0 0 0.2em rgb(29, 69, 121), 0 0 0.3em #000000;
        }
    }
    &__logo{
        color: var(--white-color)
    }
    &__toggle{
        font-size: 1.5rem;
        cursor: pointer;
    }
}

/*=== Show menu ===*/
.show{
    right: 0;
}

/*===== HOME =====*/
.home{
    background-color: var(--first-color);
    overflow: hidden;
    
    // width: 100%;
    &__container{
        height: calc(100vh - var(--header-height));
        grid-template-rows: repeat(2, max-content);
        row-gap: 1.5rem;
    }
    &__img{
        position: relative;
        padding-top: 1.5rem;
        justify-self: center;
        width: 302px;
        height: 233px;

        & img{
            position: absolute;
            // width: 50px;
            top: 0;
            left: 0;
        }
        .tablet{
            width: 80px;
            margin-top: 100px;
        }
        .phone{
            width: 40px;
            margin-top: 150px;
        }
        .ard{
            width: 90px;
            margin-left: 200px;
            margin-top: 160px;
        }
        .live{
            width: 100px;
            margin-left: -50px;
            margin-top: 0px;
        }
        .chip{
            width: 180px;
            margin-left: 50px;
            margin-top: 90px;
        }
    
    }
    &__data{
        color: var(--white-color);
    }
    &__title{
        font-size: var(--big-font-size);
        line-height: 1.3;
        margin-bottom: 1rem;
        
        margin-top: 50px;
    }
    &__title2{
        font-size: var(--big-font-size);
        line-height: 1.3;
        margin-bottom: 1rem;
        color: var(--grey-color);
    }
    &__description{
        margin-bottom: 2.5rem;
    }
    &__description2{
        margin-bottom: 2.5rem;
        color: var(--grey-color);
    }

    &__button{
        display: inline-block;
        background-color: var(--first-color-dark);
        color: var(--white-color);
        padding: 1.125rem 2rem;
        border-radius: .5rem; 
    
        &:hover{
            background-color: var(--first-color-darken);
        }
    }
    &__button2{
        display: inline-block;
        background-color: var(--first-color);
        color: var(--white-color);
        padding: 1.125rem 2rem;
        border-radius: .5rem;
    
        &:hover{
            background-color: var(--first-color-darken);
        }
    }
    &__button3{
        display: inline-block;
        background-color: var(--first-color);
        color: var(--white-color);
        padding: 1.125rem 2rem;
        border-radius: .5rem;
    
        &:hover{
            background-color: var(--first-color-darken);
        }
    }
}
/*
    --first-color: #53afd3;
    --first-color-dark: #296e8a;
    --first-color-darken: #244C5C;
    --white-color: #f0f0f0;
    --grey-color: #919090;
    --hover-color:#ffffff;
*/

.contacto{
    background-color: var(--first-color-dark);
}

/* ===== MEDIA QUERIES=====*/
@media screen and(min-width: 768px){
    body{
        margin: 0;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);

        &__toggle,&__close{
            display: none;
        }
        &__list{
            display: flex;
        }
        &__item{
            margin-left: 3rem;
            margin-bottom: 0;
        }
        &__close, &__link, &__logo, &__toggle{
            color: var(--white-color);    
        }
        &__link{
            &:hover{
                color: var(--hover-color);
            }
        }
    }

    .home{
        &__container{
            height: 100vh;
            grid-template-columns: repeat(2, max-content);
            grid-template-rows: 1fr;
            row-gap: 0;
            align-items: center;
            justify-content: center;
            
        }
        &__img{
            order: 1;
            width: 375px;
            height: 289px;

            & img{
                width: 375px;
            }
            .tablet{
                width: 100px;
                margin-top: 100px;
            }
            .phone{
                width: 50px;
                margin-top: 150px;
            }
            .ard{
                width: 100px;
                margin-left: 240px;
                margin-top: 200px;
            }
            .live{
                width: 100px;
                margin-left: -50px;
                margin-top: -20px;
            }
            .chip{
                width: 200px;
                margin-left: 70px;
                margin-top: 120px;
            }
        }
    }
}

@media screen and(min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }

    .home{
        &__container{
            justify-content: initial;
            column-gap: 4.5rem;
        }
        &__img{
            width: 604px;
            height: 466px;
            & img{
                width: 604px;
            }
            .tablet{
                width: 200px;
                margin-top: 100px;
            }
            .phone{
                width: 100px;
                margin-top: 200px;
            }
            .ard{
                width: 150px;
                margin-left: 400px;
                margin-top: 330px;
            }
            .live{
                width: 200px;
                margin-left: -105px;
                margin-top: -20px;
            }
            .chip{
                width: 300px;
                margin-left: 150px;
                margin-top: 200px;
            }
        }

    }
    
}

.containerSection{
    //background-color: var(--hover-color);
   
    img {
        width: 500px;          /*img responsive flojear al centro  y ajustar*/
        max-width: 100%;          /*img responsive flojear al centro  y ajustar*/
        height: auto;
        display: flex;
        position:relative;
        margin: auto;
        margin-top: 30%;
    }
    .apollo{
        width: 400px;
    }
    .sectionTitle{
        color: var(--first-color);
        background-color: var(--hover-color);
        margin: auto;
        margin-top: 20%;
        text-align:left;
        font-size: 3rem;
        max-width: 100%;
    }

    .sectionParagraph{
        color: var(--grey-color);
        text-align:left;
        margin-top: 5%;
        font-size: 1.25rem;
        max-width: 100%;
    }

   .sectionButtoms{
        background-color: var(--hover-color);
        margin-top: 5%;
        @media screen and (max-width: 768px){
            
            margin-bottom: 5%;
        }
    }
  
    
}
